/* ********************************************************************** */
/*                                                                        */
/*    pmstars.rc                                                          */
/*                                                                        */
/*                                                                        */
/* ********************************************************************** */

#include <os2.h>
#include "pmstars.h"


ICON ID_MAIN_WIN pmstars.ico
